# 7.DataBase



> DB(DataBase): 구조화된 정보 또는 데이터의 조직화된 모음  
DBMS(DataBase Management System): 사용자와 데이터베이스 사이에서 사용자의 요구에 따라 정보를 생성해 주고 데이터베이스를 관리해 주는 소프트웨어  
RDBMS(Relational DataBase Management System): 테이블과 다른 테이블이 관계를 맺고 모여있는 집합체  
SQL(Structured Query Language): 관계형 데이터베이스에서 사용되는 언어로 데이터를 쿼리, 조작 및 정의하고 액세스 제어를 제공

## 7.1 PostgreSQL

오픈소스 RMDBS의 한 종류

## 7.2 기본 커맨드
접속
```
psql -U postgres
```
<br>

종료
```
\q
```
<br>

DB 조회
```
\l or \list  
```
<br>

유저 조회
```
\du
```  
<br>

테이블 조회
```
\dt(+)
```
<br>

테이블 정보 조회
```
\d *table_name*
```  
<br>

테이블 접근
 ```
 \c *table_name*
 ```

## 7.3 테이블 커맨드

생성
```
CREATE TABLE *table_name*  
(  
  id SERIAL PRIMARY KEY,  
  press_name VARCHAR(10) UNIQUE NOT NULL  
);
```
<br>

삭제
```
DROP TABLE *table_name*;
```
<br>

컬럼 추가
```
ALTER TABLE *table_name* ADD COLUMN *column* varchar(10);
```
<br>

컬럼 삭제
```
ALTER TABLE *table_name* DROP COLUMN *column*;
```
<br>

컬럼 이름 변경
```
ALTER TABLE *table_name* RENAME COLUMN *current_column* TO *new_column*;
```
<br>

컬럼 타입 변경
```
ALTER TABLE *table_name* ALTER COLUMN *column* TYPE *data_type*;
```

## 7.4 CRUD

Create<br>
테이블 전체 컬럼 순서대로 데이터 입력
```
INSERT INTO *table_name* 
VALUES (
  *value1*,
  *value2*,
  ...
)
```
<br>

테이블 특정 컬럼 데이터 입력
```
INSERT INTO *table_name*
(
  *column1*,
  *column2*
)
VALUES
(
  *value1*,
  *value2*
);
```
<br>

Read
```
SELECT * FROM *table_name* # 모든 컬럼 조회
SELECT *column_name1, column_name2, ...* FROM *table_name* # 특정 컬럼 조회
```
<br>

Update<br>
일반적으로는 where절과 같이 사용
```
UPDATE *table_name* SET *column_name* = *value*
```
<br>

Delete<br>
일반적으로는 where절과 같이 사용
```
DROP FROM *table_name* # 전체 테이블 내용 삭제
```
<br>

## 7.5 EDA

### 새로운 컬럼 만들기

```
SELECT DISTINCT *column*, (*column2* + *column3*)/2 as avg
FROM *table_name*;
```

### 중복 제거
```
SELECT DISTINCT *column*
FROM *table_name*;
```

### 조건식

#### WHERE
단순 조건식
```
SELECT * 
FROM
  *table_name* 
WHERE 
  column != -1;
```
<br>

여러 조건식
```
SELECT * 
FROM 
  *table_name* 
WHERE 
  *column1* != -1 and *column2* >= 10 or *column3* < 100;
```
<br>

조건식 범위 지정 방법
```
WHERE 
  *column* BETWEEN 0 AND 10;
WHERE 
  *column* NOT BETWEEN 0 AND 10;

WHERE 
  *column* IN (0, 1, 10);
WHERE 
  *column* NOT IN (0, 1, 10);
```
<br>

문자열 검색
_: 몇 글자인지 정해줌 <br>
%: 몇 글자인지 정해주지 않음 <br>
```
WHERE 
  *column* LIKE *pattern*;
WHERE 
  *column* NOT LIKE *pattern;
```
<br>

패턴의 종류는 아래와 같음

```
LIKE '200%': 200으로 시작하는 값
LIKE '%200': 200으로 끝나는 값
LIKE '%200%': 200이 포함되는 값
LIKE '_0_': 가운데가 0이 들어가는 3자리 값
LIKE '_1': x1로 끝나는 값
LIKE '_200%': 200 앞에는 어떠한 문자도 상관 없으며 200이 포함된 문자열

```

#### CASE WHEN
조건에 따라 다른 값을 보여줄 때 사용
```
CASE 
  WHEN 
    condition_1 THEN result_1
  WHEN 
    condition_2 THEN result_2
  ...
  END AS *new_column name*

```

### 집계함수

count: row의 개수 반환
```
SELECT count(*) FROM *table_name*;
```
<br>

sum: 합계 반환
```
SELECT sum(*column*) FROM *table_name*;
```
<br>

avg: 평균 반환
```
SELECT avg(*column*) FROM *table_name*;
```
<br>

max: 최댓값 반환
```
SELECT max(*column*) FROM *table_name*;
```
<br>

min: 최솟값 반환
```
SELECT min(*column*) FROM *table_name*;
```

<br>
<br>
<br>

주의: 집계함수는 where 절에 나올 수 없음
```
SELECT id FROM news WHERE news_count = max(news_count);
```
<br>

위의 쿼리는 아래와 같이 수정해야 함
```
SELECT id FROM news
WHERE news_count = (SELECT max(news_count) FROM news);
```

### 정렬

컬럼을 기준으로 오름차순 혹은 내림차순으로 정렬

오름차순
```
SELECT 
  *column*
FROM 
  *table_name*
ORDER BY 
  *column*;
```
<br>

내림차순
```
SELECT 
  *column*
FROM 
  *table_name*
ORDER BY 
  *column* DESC;
```
<br>
<br>

GROUP BY 뒤에는 집계 함수도 들어갈 수 있음
```
SELECT 
  *column*
FROM 
  *table_name*
ORDER BY 
  sum(*column*) DESC;
```

### GROUP BY
행을 특정 그룹으로 묶음

```
SELECT 
  *column*
FROM 
  *table_name*
GROUP BY
	*column*;
```

### RANK

RANK: 전체 순위를 집계
```
SELECT id, press_name, news_count,
       RANK() OVER (PARTITION BY press_name ORDER BY news_count DESC)
FROM news;
```
<br>

DENSE_RANK: 집합 내 순위를 집계 <br>
중복 발생 시 다음 순위를 생략하지 않음 <br>
(1, 1, 2)
```
SELECT id, press_name, news_count,
       DENSE_RANK() OVER (PARTITION BY press_name ORDER BY news_count DESC)
FROM news;
```

### JOIN

(INNER)JOIN<br>
같은 값이 있는 행만 반환
```
SELECT *column1*, *column2*
FROM press_ids as p
JOIN news as n
ON *p.column1* = *n.column1*';
```

LEFT JOIN<br>
왼쪽 테이블에 오른쪽 테이블을 매칭, 값이 없으면 NULL 삽입
```
SELECT *column1*, *column2*
FROM press_ids as p
LEFT JOIN news as n
ON *p.column1* = *n.column1*';
```
<br>

RIGHT JOIN<br>
오른쪽 테이블에 오른쪽 테이블을 매칭, 값이 없으면 NULL 삽입
```
SELECT *column1*, *column2*
FROM press_ids as p
RIGHT JOIN news as n
ON *p.column1* = *n.column1*';
```
<br>

FULL JOIN
오른쪽 테이블과 왼쪽 테이블 매칭
```
SELECT *column1*, *column2*
FROM press_ids as p
RIGHT JOIN news as n
ON *p.column1* = *n.column1*';
```
<br>

CROSS JOIN: Table1과 Table2의 모든 행을 JOIN (별도의 키를 지정하지 않음)
```
SELECT *column1*, *column2*
FROM press_ids as p
CROSS JOIN news as n;
```

## 7.6 Database Link in Python

In [21]:
pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in c:\users\82108\appdata\roaming\python\python310\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [13]:
conn = psycopg2.connect(
  host='localhost',
  dbname='postgres',
  user='postgres',
  password='postgrespw',
  port=49153
)
cur = conn.cursor()

In [6]:
cur.execute('SELECT * FROM news_count;')
cur.fetchall()

[(1, '2022-12-01', '1', 99),
 (2, '2022-12-01', '2', 95),
 (3, '2022-12-01', '3', 60),
 (4, '2022-12-01', '4', 85),
 (5, '2022-12-02', '1', 99),
 (6, '2022-12-02', '2', 62),
 (7, '2022-12-02', '3', 54),
 (8, '2022-12-02', '4', 82),
 (9, '2022-12-03', '1', 74),
 (10, '2022-12-03', '2', 90),
 (11, '2022-12-03', '3', 56),
 (12, '2022-12-03', '4', 96),
 (13, '2022-12-04', '1', 53),
 (14, '2022-12-04', '2', 59),
 (15, '2022-12-04', '3', 67),
 (16, '2022-12-04', '4', 63),
 (17, '2022-12-05', '1', 73),
 (18, '2022-12-05', '2', 77),
 (19, '2022-12-05', '3', 97),
 (20, '2022-12-05', '4', 81),
 (21, '2022-12-06', '1', 11),
 (22, '2022-12-06', '2', 15),
 (23, '2022-12-06', '3', 19),
 (24, '2022-12-06', '4', 21),
 (25, '2022-12-07', '1', 13),
 (26, '2022-12-07', '2', 14),
 (27, '2022-12-07', '3', 17),
 (28, '2022-12-07', '4', 10),
 (29, '2022-12-08', '1', 74),
 (30, '2022-12-08', '2', 95),
 (31, '2022-12-08', '3', 81),
 (32, '2022-12-08', '4', 60),
 (33, '2022-12-09', '1', 77),
 (34, '2022-12-09', '2', 86),
 (35, '2022-12-09', '3', 56),
 (36, '2022-12-09', '4', 68),
 (37, '2022-12-10', '1', 81),
 (38, '2022-12-10', '2', 73),
 (39, '2022-12-10', '3', 68),
 (40, '2022-12-10', '4', 72),
 (41, '2022-12-11', '1', 63),
 (42, '2022-12-11', '2', 89),
 (43, '2022-12-11', '3', 66),
 (44, '2022-12-11', '4', 66),
 (45, '2022-12-12', '1', 79),
 (46, '2022-12-12', '2', 58),
 (47, '2022-12-12', '3', 53),
 (48, '2022-12-12', '4', 88)]

In [7]:
pd.read_sql('SELECT * FROM news_count;',conn)

C:\Users\82108\AppData\Local\Temp\ipykernel_31656\1377906778.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('SELECT * FROM news_count;',conn)

    index        date id  news_count
0       1  2022-12-01  1          99
1       2  2022-12-01  2          95
2       3  2022-12-01  3          60
3       4  2022-12-01  4          85
4       5  2022-12-02  1          99
5       6  2022-12-02  2          62
6       7  2022-12-02  3          54
7       8  2022-12-02  4          82
8       9  2022-12-03  1          74
9      10  2022-12-03  2          90
10     11  2022-12-03  3          56
11     12  2022-12-03  4          96
12     13  2022-12-04  1          53
13     14  2022-12-04  2          59
14     15  2022-12-04  3          67
15     16  2022-12-04  4          63
16     17  2022-12-05  1          73
17     18  2022-12-05  2          77
18     19  2022-12-05  3          97
19     20  2022-12-05  4          81
20     21  2022-12-06  1          11
21     22  2022-12-06  2          15
22     23  2022-12-06  3          19
23     24  2022-12-06  4          21
24     25  2022-12-07  1          13
25     26  2022-12-07  2          14
26     27  2022-12-07  3          17
27     28  2022-12-07  4          10
28     29  2022-12-08  1          74
29     30  2022-12-08  2          95
30     31  2022-12-08  3          81
31     32  2022-12-08  4          60
32     33  2022-12-09  1          77
33     34  2022-12-09  2          86
34     35  2022-12-09  3          56
35     36  2022-12-09  4          68
36     37  2022-12-10  1          81
37     38  2022-12-10  2          73
38     39  2022-12-10  3          68
39     40  2022-12-10  4          72
40     41  2022-12-11  1          63
41     42  2022-12-11  2          89
42     43  2022-12-11  3          66
43     44  2022-12-11  4          66
44     45  2022-12-12  1          79
45     46  2022-12-12  2          58
46     47  2022-12-12  3          53
47     48  2022-12-12  4          88

In [14]:
cur.execute(
  f"INSERT INTO user_id VALUES(7,'YTN');"
)
conn.commit()
#fail이뜨면 connection끊겨서 연결객체 다시연결해야함

In [15]:
press_id = 8
press_name = '경향신문'
cur.execute(
  f"INSERT INTO user_id VALUES({press_id},'{press_name}');"
)
conn.commit()

In [20]:
corpcode = pd.read_csv('../data/corpcode.csv')

In [22]:
#sqlalchemy -> data통으로 밀어넣기

from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime

USERNAME='postgres'
PASSWORD='postgrespw'
DB_HOST='localhost'
PORT=49153
DB_NAME='postgres'

db_url = f'postgresql://{USERNAME}:{PASSWORD}@{DB_HOST}:{PORT}/{DB_NAME}'
engine = create_engine(db_url, echo=True)

corpcode.to_sql(
  'corpcoed',
  engine,
  if_exists='append', # replace: 덮어쓰기
  index=True,
  chunksize=5000
)

2023-05-07 13:23:55,933 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-05-07 13:23:55,935 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-07 13:23:55,937 INFO sqlalchemy.engine.Engine select current_schema()
2023-05-07 13:23:55,938 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-07 13:23:55,940 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-05-07 13:23:55,941 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-07 13:23:55,945 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-05-07 13:23:55,945 INFO sqlalchemy.engine.Engine [generated in 0.00095s] {'name': 'corpcoed'}
2023-05-07 13:23:55,951 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-07 13:23:55,952 INFO sqlalchemy.engine.Engine
CREATE TABLE corpcoed (
	index BIGINT,
	corp_code BIGINT,
	corp_name TEXT,
	stock_code TEXT,
	modify_date BIGINT
)


2023-05-07 13:23:55,953 INFO sqlalchemy.engine.Engine [no key 0.00083s] {}
2023-05-07 13:23:55,964 INFO sqlalchemy.engine.Engine CREATE INDEX ix_corpcoed_index ON corpcoed (index)
2023-05-07 13:23:55,965 INFO sqlalchemy.engine.Engine [no key 0.00100s] {}
2023-05-07 13:23:55,971 INFO sqlalchemy.engine.Engine COMMIT
2023-05-07 13:23:55,999 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-07 13:23:56,032 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:56,033 INFO sqlalchemy.engine.Engine [generated in 0.02670s] ({'index': 0, 'corp_code': 434003, 'corp_name': '다코', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 1, 'corp_code': 434456, 'corp_name': '일산약품', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 2, 'corp_code': 430964, 'corp_name': '굿앤엘에스', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 3, 'corp_code': 432403, 'corp_name': '한라판지', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 4, 'corp_code': 388953, 'corp_name': '크레디피아제이십오차유동화전문회사', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 5, 'corp_code': 179984, 'corp_name': '연방건설산업', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 6, 'corp_code': 420143, 'corp_name': '브룩스피알아이오토메이션잉크', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 7, 'corp_code': 401111, 'corp_name': '매경아이비아이', 'stock_code': ' ', 'modify_date': 20170630}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 4998, 'corp_code': 940328, 'corp_name': '대유아이앤디', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 4999, 'corp_code': 973159, 'corp_name': '다솜하우징', 'stock_code': ' ', 'modify_date': 20170630})
2023-05-07 13:23:56,208 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:56,210 INFO sqlalchemy.engine.Engine [cached since 0.2039s ago] ({'index': 5000, 'corp_code': 535162, 'corp_name': '비에이치코퍼레이션', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 5001, 'corp_code': 762410, 'corp_name': '삼현씨앤에스', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 5002, 'corp_code': 943875, 'corp_name': '광주자원환경', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 5003, 'corp_code': 893394, 'corp_name': '마포미트', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 5004, 'corp_code': 254106, 'corp_name': 'SKC&C', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 5005, 'corp_code': 933993, 'corp_name': '태룡친환경무공해세제', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 5006, 'corp_code': 668497, 'corp_name': '에니웍스', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 5007, 'corp_code': 971887, 'corp_name': '광일아이리스', 'stock_code': ' ', 'modify_date': 20170630}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 9998, 'corp_code': 689737, 'corp_name': '지앤지', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 9999, 'corp_code': 939492, 'corp_name': '이노센싱', 'stock_code': ' ', 'modify_date': 20170630})
2023-05-07 13:23:56,458 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:56,459 INFO sqlalchemy.engine.Engine [cached since 0.4535s ago] ({'index': 10000, 'corp_code': 769893, 'corp_name': '필딥코리아', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 10001, 'corp_code': 941585, 'corp_name': '고산이노베이션', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 10002, 'corp_code': 952518, 'corp_name': '아크레이', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 10003, 'corp_code': 952873, 'corp_name': 'MSPETissueHoldingsAB', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 10004, 'corp_code': 952882, 'corp_name': '피델리티퓨리탄트러스트:피델리티시리즈인트린시크오퍼튜니티즈펀드', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 10005, 'corp_code': 594457, 'corp_name': '한라대민자유동화전문유한회사', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 10006, 'corp_code': 452364, 'corp_name': '두광산업개발', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 10007, 'corp_code': 365013, 'corp_name': '케이큐티', 'stock_code': ' ', 'modify_date': 20170630}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 14998, 'corp_code': 490355, 'corp_name': '세륜건설', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 14999, 'corp_code': 499198, 'corp_name': '대성전기산업', 'stock_code': ' ', 'modify_date': 20170630})
2023-05-07 13:23:56,615 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:56,616 INFO sqlalchemy.engine.Engine [cached since 0.6106s ago] ({'index': 15000, 'corp_code': 570323, 'corp_name': '이삭산업개발', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 15001, 'corp_code': 548722, 'corp_name': '씨티이지앤컴퍼니', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 15002, 'corp_code': 437055, 'corp_name': '초이스종합건설', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 15003, 'corp_code': 639219, 'corp_name': '세진도시건설', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 15004, 'corp_code': 636823, 'corp_name': '도쿄방송', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 15005, 'corp_code': 595739, 'corp_name': '남양휴튼제삼차', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 15006, 'corp_code': 470069, 'corp_name': '동국석유', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 15007, 'corp_code': 685944, 'corp_name': '신이천팔제일차유동화전문유한회사', 'stock_code': ' ', 'modify_date': 20170630}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 19998, 'corp_code': 586670, 'corp_name': '한일유앤아이제이차유동화전문유한회사', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 19999, 'corp_code': 665515, 'corp_name': '서울금속정밀기기', 'stock_code': ' ', 'modify_date': 20170630})
2023-05-07 13:23:56,815 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:56,816 INFO sqlalchemy.engine.Engine [cached since 0.811s ago] ({'index': 20000, 'corp_code': 761943, 'corp_name': '유베스트제일차유동화전문유한회사', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 20001, 'corp_code': 670890, 'corp_name': '이안제십삼차', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 20002, 'corp_code': 693697, 'corp_name': '디초콜릿코리아', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 20003, 'corp_code': 694331, 'corp_name': '오토피아제삼십구차유동화전문유한회사', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 20004, 'corp_code': 698920, 'corp_name': '한국아이비제일차유동화전문유한회사', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 20005, 'corp_code': 547468, 'corp_name': '노무라인터내셔날증권서울지점', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 20006, 'corp_code': 247434, 'corp_name': '삼삼건설', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 20007, 'corp_code': 302722, 'corp_name': '보성통신', 'stock_code': ' ', 'modify_date': 20170630}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 24998, 'corp_code': 346416, 'corp_name': '새몸테크', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 24999, 'corp_code': 335696, 'corp_name': '새천년유동화전문유한회사', 'stock_code': ' ', 'modify_date': 20170630})
2023-05-07 13:23:57,028 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:57,030 INFO sqlalchemy.engine.Engine [cached since 1.024s ago] ({'index': 25000, 'corp_code': 342979, 'corp_name': '새희망유동화전문유한회사', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 25001, 'corp_code': 295015, 'corp_name': '성덕뉴테크', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 25002, 'corp_code': 274322, 'corp_name': '성언정보통신', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 25003, 'corp_code': 277684, 'corp_name': '세림정보산업', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 25004, 'corp_code': 259402, 'corp_name': '세스컴', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 25005, 'corp_code': 321648, 'corp_name': '세영텔레컴', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 25006, 'corp_code': 510297, 'corp_name': '에스제이종합건설', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 25007, 'corp_code': 294636, 'corp_name': '가인정보처리주', 'stock_code': ' ', 'modify_date': 20170630}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 29998, 'corp_code': 1084902, 'corp_name': '서성아이앤디', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 29999, 'corp_code': 668080, 'corp_name': '협성신재생에너지', 'stock_code': ' ', 'modify_date': 20170630})
2023-05-07 13:23:57,226 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:57,228 INFO sqlalchemy.engine.Engine [cached since 1.223s ago] ({'index': 30000, 'corp_code': 672773, 'corp_name': '대림', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 30001, 'corp_code': 689366, 'corp_name': '아델리안건설', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 30002, 'corp_code': 601483, 'corp_name': '계양', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 30003, 'corp_code': 1014116, 'corp_name': '안성스틸', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 30004, 'corp_code': 966849, 'corp_name': '대영유지', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 30005, 'corp_code': 765657, 'corp_name': '동방헌', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 30006, 'corp_code': 974848, 'corp_name': '온누리에스엔씨대부', 'stock_code': ' ', 'modify_date': 20170630}, {'index': 30007, 'corp_code': 1016549, 'corp_name': '농업회사법인청원식품', 'stock_code': ' ', 'modify_date': 20170630}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 34998, 'corp_code': 1081297, 'corp_name': '아이덴티티엔터테인먼트', 'stock_code': ' ', 'modify_date': 20180508}, {'index': 34999, 'corp_code': 1280463, 'corp_name': '에이치베스트제삼차', 'stock_code': ' ', 'modify_date': 20180413})
2023-05-07 13:23:57,467 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:57,468 INFO sqlalchemy.engine.Engine [cached since 1.463s ago] ({'index': 35000, 'corp_code': 1280454, 'corp_name': '디에스케이프제일차', 'stock_code': ' ', 'modify_date': 20180413}, {'index': 35001, 'corp_code': 1014550, 'corp_name': '주니코리아', 'stock_code': ' ', 'modify_date': 20180508}, {'index': 35002, 'corp_code': 906652, 'corp_name': '케이브이지제2호기업구조조정부동산투자회사', 'stock_code': ' ', 'modify_date': 20180508}, {'index': 35003, 'corp_code': 566375, 'corp_name': '우신냉장', 'stock_code': ' ', 'modify_date': 20180508}, {'index': 35004, 'corp_code': 1207372, 'corp_name': '골드문산업개발', 'stock_code': ' ', 'modify_date': 20180508}, {'index': 35005, 'corp_code': 1213452, 'corp_name': '서흥개발', 'stock_code': ' ', 'modify_date': 20180508}, {'index': 35006, 'corp_code': 919425, 'corp_name': '유나이티드피에프제일', 'stock_code': ' ', 'modify_date': 20180508}, {'index': 35007, 'corp_code': 1218545, 'corp_name': '베스트위드', 'stock_code': ' ', 'modify_date': 20180402}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 39998, 'corp_code': 1325447, 'corp_name': '하이코나니제사차', 'stock_code': ' ', 'modify_date': 20181214}, {'index': 39999, 'corp_code': 1325474, 'corp_name': '하이트러스트제일차', 'stock_code': ' ', 'modify_date': 20181214})
2023-05-07 13:23:57,749 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:57,749 INFO sqlalchemy.engine.Engine [cached since 1.755s ago] ({'index': 40000, 'corp_code': 1325483, 'corp_name': '뉴하모니신내제이차', 'stock_code': ' ', 'modify_date': 20181214}, {'index': 40001, 'corp_code': 1316014, 'corp_name': '하이얼티밋제육차', 'stock_code': ' ', 'modify_date': 20181214}, {'index': 40002, 'corp_code': 1325492, 'corp_name': '신내에이치에프아이', 'stock_code': ' ', 'modify_date': 20181214}, {'index': 40003, 'corp_code': 1334700, 'corp_name': '에스엠디비제이차', 'stock_code': ' ', 'modify_date': 20181214}, {'index': 40004, 'corp_code': 1342091, 'corp_name': '케이프에이치원', 'stock_code': ' ', 'modify_date': 20181214}, {'index': 40005, 'corp_code': 961349, 'corp_name': '차후', 'stock_code': ' ', 'modify_date': 20190220}, {'index': 40006, 'corp_code': 1235205, 'corp_name': '신화마트', 'stock_code': ' ', 'modify_date': 20190220}, {'index': 40007, 'corp_code': 1336832, 'corp_name': 'FullertonFundManagementCompanyLtd.', 'stock_code': ' ', 'modify_date': 20181029}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 44998, 'corp_code': 982360, 'corp_name': 'STICPRIVATEEQUITYFUNDL.P.', 'stock_code': ' ', 'modify_date': 20191105}, {'index': 44999, 'corp_code': 1417429, 'corp_name': '와이에스만촌', 'stock_code': ' ', 'modify_date': 20191106})
2023-05-07 13:23:57,977 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:57,977 INFO sqlalchemy.engine.Engine [cached since 1.973s ago] ({'index': 45000, 'corp_code': 1417438, 'corp_name': '제이에스엠제일차', 'stock_code': ' ', 'modify_date': 20191106}, {'index': 45001, 'corp_code': 1417447, 'corp_name': '프리지어제십일차', 'stock_code': ' ', 'modify_date': 20191106}, {'index': 45002, 'corp_code': 1417456, 'corp_name': '비케이패밀리제5차', 'stock_code': ' ', 'modify_date': 20191106}, {'index': 45003, 'corp_code': 1417465, 'corp_name': '시은제1차', 'stock_code': ' ', 'modify_date': 20191106}, {'index': 45004, 'corp_code': 1417474, 'corp_name': '사천수산업협동조합', 'stock_code': ' ', 'modify_date': 20191106}, {'index': 45005, 'corp_code': 1022513, 'corp_name': '성문회계법인', 'stock_code': ' ', 'modify_date': 20190819}, {'index': 45006, 'corp_code': 1049945, 'corp_name': '에이치바이온', 'stock_code': ' ', 'modify_date': 20190820}, {'index': 45007, 'corp_code': 1397073, 'corp_name': '바른파트너스', 'stock_code': ' ', 'modify_date': 20190820}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 49998, 'corp_code': 1516517, 'corp_name': '신박한사람들', 'stock_code': ' ', 'modify_date': 20201210}, {'index': 49999, 'corp_code': 130462, 'corp_name': '서영', 'stock_code': ' ', 'modify_date': 20210222})
2023-05-07 13:23:58,181 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:58,182 INFO sqlalchemy.engine.Engine [cached since 2.176s ago] ({'index': 50000, 'corp_code': 247814, 'corp_name': '단우실업', 'stock_code': ' ', 'modify_date': 20210218}, {'index': 50001, 'corp_code': 1485688, 'corp_name': '에이치와이에스에프제이차', 'stock_code': ' ', 'modify_date': 20200610}, {'index': 50002, 'corp_code': 1485697, 'corp_name': '에이치와이에스에프제일차', 'stock_code': ' ', 'modify_date': 20200610}, {'index': 50003, 'corp_code': 1485703, 'corp_name': '에이치와이트러스트제육차', 'stock_code': ' ', 'modify_date': 20200610}, {'index': 50004, 'corp_code': 608103, 'corp_name': '파이프뱅크', 'stock_code': ' ', 'modify_date': 20200610}, {'index': 50005, 'corp_code': 1452714, 'corp_name': '핀옥션유동화제이차', 'stock_code': ' ', 'modify_date': 20200610}, {'index': 50006, 'corp_code': 1486544, 'corp_name': '히어로즈브이원제이차', 'stock_code': ' ', 'modify_date': 20200617}, {'index': 50007, 'corp_code': 1486720, 'corp_name': '더뉴투', 'stock_code': ' ', 'modify_date': 20200622}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 54998, 'corp_code': 1580354, 'corp_name': '더블에이치제일차', 'stock_code': ' ', 'modify_date': 20210824}, {'index': 54999, 'corp_code': 1596966, 'corp_name': '아이엠엠이에스지1호', 'stock_code': ' ', 'modify_date': 20211112})
2023-05-07 13:23:58,333 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:58,334 INFO sqlalchemy.engine.Engine [cached since 2.328s ago] ({'index': 55000, 'corp_code': 1596984, 'corp_name': '조반니쓰리', 'stock_code': ' ', 'modify_date': 20211112}, {'index': 55001, 'corp_code': 1597026, 'corp_name': '진접2대토제1차', 'stock_code': ' ', 'modify_date': 20211112}, {'index': 55002, 'corp_code': 1597451, 'corp_name': '드림스완제사차유동화전문유한회사', 'stock_code': ' ', 'modify_date': 20211116}, {'index': 55003, 'corp_code': 1597460, 'corp_name': '신보2021제22차유동화전문유한회사', 'stock_code': ' ', 'modify_date': 20211116}, {'index': 55004, 'corp_code': 1611247, 'corp_name': '뉴스타아델리움', 'stock_code': ' ', 'modify_date': 20220124}, {'index': 55005, 'corp_code': 1611256, 'corp_name': '뉴스타워터폴', 'stock_code': ' ', 'modify_date': 20220124}, {'index': 55006, 'corp_code': 1611265, 'corp_name': '뉴스타파주운정', 'stock_code': ' ', 'modify_date': 20220124}, {'index': 55007, 'corp_code': 1611274, 'corp_name': '루비제이차', 'stock_code': ' ', 'modify_date': 20220124}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 59998, 'corp_code': 190923, 'corp_name': '위스코', 'stock_code': ' ', 'modify_date': 20220225}, {'index': 59999, 'corp_code': 759285, 'corp_name': '경기중부학당', 'stock_code': ' ', 'modify_date': 20220225})
2023-05-07 13:23:58,559 INFO sqlalchemy.engine.Engine INSERT INTO corpcoed (index, corp_code, corp_name, stock_code, modify_date) VALUES (%(index)s, %(corp_code)s, %(corp_name)s, %(stock_code)s, %(modify_date)s)
2023-05-07 13:23:58,560 INFO sqlalchemy.engine.Engine [cached since 2.555s ago] ({'index': 60000, 'corp_code': 1137842, 'corp_name': '코넥', 'stock_code': ' ', 'modify_date': 20220225}, {'index': 60001, 'corp_code': 1564240, 'corp_name': '이천중리제일차피에프브이', 'stock_code': ' ', 'modify_date': 20220225}, {'index': 60002, 'corp_code': 303208, 'corp_name': '대화연료펌프', 'stock_code': ' ', 'modify_date': 20220225}, {'index': 60003, 'corp_code': 656410, 'corp_name': '전라선철도', 'stock_code': ' ', 'modify_date': 20220225}, {'index': 60004, 'corp_code': 1157420, 'corp_name': '휴그린', 'stock_code': ' ', 'modify_date': 20220225}, {'index': 60005, 'corp_code': 1414945, 'corp_name': '한신메트로', 'stock_code': ' ', 'modify_date': 20220225}, {'index': 60006, 'corp_code': 1476033, 'corp_name': '미크로엠아이테크', 'stock_code': ' ', 'modify_date': 20220225}, {'index': 60007, 'corp_code': 651549, 'corp_name': '고려철재', 'stock_code': ' ', 'modify_date': 20220225}  ... displaying 10 of 5000 total bound parameter sets ...  {'index': 64998, 'corp_code': 1205107, 'corp_name': '스마일게이트스토브', 'stock_code': ' ', 'modify_date': 20220222}, {'index': 64999, 'corp_code': 1015911, 'corp_name': '스마일게이트메가포트', 'stock_code': ' ', 'modify_date': 20220222})

20519

In [23]:
corpcode.info

<bound method DataFrame.info of         corp_code           corp_name stock_code  modify_date
0          434003                  다코                20170630
1          434456                일산약품                20170630
2          430964               굿앤엘에스                20170630
3          432403                한라판지                20170630
4          388953   크레디피아제이십오차유동화전문회사                20170630
...           ...                 ...        ...          ...
100514     646510  미래에셋파트너스사호사모투자전문회사                20230228
100515    1184822      미래에셋파트너스9호사모투자                20230228
100516     755252                 시니안                20230228
100517     227582               청호나이스                20230228
100518    1615845              메타버스월드                20230228

[100519 rows x 4 columns]>

In [ ]:
corpcode.to_csv('../data/corpcode.csv',index=False,encoding='utf-8-sig')

### psycopg2

설치
```cmd
pip install psycopg2
pip install psycopg2-binary #위의 설치 에러 시 이 코드 실행
```
<br>

사용법
```python
conn = psycopg2.connect(
  host='address',
  dbname='database name',
  user='user name',
  password='password',
  port=port

cur = conn.cursor()
```

CRUD
```python
cur.execute(f'INSERT INTO test (id, press_name) VALUES ({id}, {press_name});')
conn.commit() # CREATE

cur.execute('SELECT * FROM test;')
result_one = cur.fetchone() # READ
result_many = cur.fetchmany() 
result_all = cur.fetchall() 

cur.execute(f'UPDATE test SET press_name={press_name} WHERE id > 5')
conn.commit() # UPDATE

cur.execute('DELETE FROM test WHERE press_name LIKE %조선%;')
conn.commit() # DELETE
```
<br>

pandas 내의 method를 통해서도 사용 가능
```python
pd.read_sql('SELECT * FROM test', conn)
```
<br>

Closer <br>
사용 후 연결 해제 <br>
```python
cur.close()
conn.close()
```
<br>

아래와 같이 사용 가능
```python
with conn.cursor() as cur:
  cur.execute(query)

conn.close()

with psycopg2.connect():
  with conn.cursor() as cur:
    cur.execute(query)
```

### sqlalchemy

설치
```cmd
pip install sqlalchemy
```
<br>

사용법
```python
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime

db_url = f'postgres+psycopg2://{USERNAME}:{PASSWORD}@{DB_HOST}:{PORT}/{DB_NAME}'
engine = create_engine(db_url, echo=True)

test.to_sql(
  'schema',
  engine,
  if_exists='append', # replace: 덮어쓰기
  index=False,
  chunksize=5000,
  dtypes={
    'id': Integer,
    'press_name': Text
  }
)
```